body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

ul, ul li {
  list-style: none;
}

h1 {
  font-size: 1.6em;
}

h2 {
  margin-bottom: 1em;
  font-size: 1.4em;
}

h3 {
  margin-bottom: 1em;
  padding: 0;
  font-size: 1.2em;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 4px;
  padding: 4px;
  background-color: green;
  border: 1px solid green;
  border-radius: 4px;
  color: #eee;
  font-size: 16px;
  cursor: pointer;
}

.btn.block {
  width: 150px;
  font-size: 14px;
}

.btn:focus,
.btn:hover {
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

.btn.danger,
.btn.danger:focus,
.btn.danger:hover {
  background-color: darkred;
}

.btn[type="disabled"],
.btn[type="disabled"]:hover {
  background-color: grey;
  border: 1px solid grey;
  cursor: default;
}

.attribute-buttons {
  text-align: right;
}

.icon-coin {
  padding-top: 2px;
  width: 14px;
  height: 14px;
  opacity: 0.7;
}

.banner {
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.loading {
  flex-direction: row;
  margin-top: 1%;
  margin-left: 1%;
  padding-top: 1em;
  width: 5em;
  height: 5em;
  background-color: #005500;
  border: 1px solid;
  border-radius: 50%;
  color: #fff;
  font-size: small;
  text-align: center;
  animation: spinner 1.5s infinite ease;
  animation-delay: .5s;
}

@keyframes spinner {
  0% {
    background-color: #004400;
    transform: rotate(0deg);
  }
  50% {
    background-color: #007700;
    transform: rotate(180deg);
  }
  100% {
    background-color: #004400;
    transform: rotate(360deg);
  }
}