body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 1.6em;
  margin: 5px 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 4px;
  padding: 4px;
  background-color: green;
  border: 1px solid green;
  border-radius: 4px;
  color: #eee;
  font-size: 16px;
  cursor: pointer;
}

.btn.block {
  width: 150px;
  font-size: 14px;
}

.btn:focus,
.btn:hover {
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

.btn.danger,
.btn.danger:focus,
.btn.danger:hover {
  background-color: darkred;
}

.btn[type="disabled"],
.btn[type="disabled"]:hover {
  background-color: grey;
  border: 1px solid grey;
  cursor: default;
}

.attribute-buttons {
  text-align: right;
}

.icon {
  border: 0;
  width: 45px;
  height: 45px;
}

.banner {
  width: 50px;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.container h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: navy;
  /* text-transform: capitalize; */
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
  padding: 10px;
  border: 1px double #eee;
  /* background-color: #eee; */
  border-radius: 5px;
  text-align: left;
}

.card-body,
.card-actons {
  padding-top: 10px;
  padding-bottom: 10px;
}