.life-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 40px;
  margin: 5px;
  padding: 0;
  border: 1px solid #111;
  background-color: #111;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
}

.life-bar .bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: blue;
  border: 1px solid blue;
  color: white;
  overflow-y: hidden;
}

.life-bar .bar.size-0 {
  width: 0px;
}

.life-bar .bar.size-1,
.life-bar .bar.size-2 {
  width: 2%;
}

.life-bar .bar.size-3,
.life-bar .bar.size-4 {
  width: 4%;
}

.life-bar .bar.size-4,
.life-bar .bar.size-5 {
  width: 6%;
}

.life-bar .bar.size-6,
.life-bar .bar.size-7 {
  width: 8%;
}

.life-bar .bar.size-8,
.life-bar .bar.size-9 {
  width: 10%;
}

.life-bar .bar.size-10,
.life-bar .bar.size-11 {
  width: 12%;
}

.life-bar .bar.size-12,
.life-bar .bar.size-13 {
  width: 15%;
}

.life-bar .bar.size-14,
.life-bar .bar.size-15,
.life-bar .bar.size-16 {
  width: 20%;
}

.life-bar .bar.size-17,
.life-bar .bar.size-18,
.life-bar .bar.size-19 {
   width: 25%;
}

.life-bar .bar.size-20,
.life-bar .bar.size-21,
.life-bar .bar.size-22,
.life-bar .bar.size-23 {
  width: 30%;
}

.life-bar .bar.size-24,
.life-bar .bar.size-25 {
  width: 35%;
}

.life-bar .bar.size-26,
.life-bar .bar.size-27,
.life-bar .bar.size-28 {
   width: 40%;
}

.life-bar .bar.size-29,
.life-bar .bar.size-30 {
   width: 45%;
}

.life-bar .bar.size-31,
.life-bar .bar.size-32,
.life-bar .bar.size-33 {
   width: 50%;
}

.life-bar .bar.size-34,
.life-bar .bar.size-35 
.life-bar .bar.size-36 {
   width: 55%;
}

.life-bar .bar.size-37,
.life-bar .bar.size-38,
.life-bar .bar.size-39 {
   width: 60%;
}

.life-bar .bar.size-40,
.life-bar .bar.size-41 {
   width: 65%;
}

.life-bar .bar.size-42,
.life-bar .bar.size-43 {
   width: 70%;
}

.life-bar .bar.size-44,
.life-bar .bar.size-45 {
   width: 75%;
}

.life-bar .bar.size-46,
.life-bar .bar.size-47 {
   width: 80%;
}

.life-bar .bar.size-48,
.life-bar .bar.size-49,
.life-bar .bar.size-50 {
  width: 85%;
}

.life-bar .bar.size-51,
.life-bar .bar.size-52,
.life-bar .bar.size-53 {
  width: 90%;
}

.life-bar .bar.size-54,
.life-bar .bar.size-55
.life-bar .bar.size-56 {
  width: 95%;
}

.life-bar .bar.size-57,
.life-bar .bar.size-58,
.life-bar .bar.size-59,
.life-bar .bar.size-60,
.life-bar .bar.size-61 {
  width: 98%;
}

.life-bar .bar.size-62,
.life-bar .bar.size-63,
.life-bar .bar.size-64 {
  width: 100%;
}
